@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


html, body{
    height: 100%;
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body > .container {
    flex: 1; 
}

footer {
    margin-top: auto;
}


.welcome-msg{
    display: grid;
    place-items: center;
    height: 53vh;
}

.create-instrument-container{
    margin-bottom: 21vh;
}

